@import "tailwindcss";
@config "../../../tailwind.config.ts";

/* Set global defaults */
@layer base {
  body {
    @apply font-sans text-black bg-white dark:bg-black dark:text-white;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 30s linear infinite;
  width: calc(2 * 100%); /* The width should be twice the container size to accommodate both sets */
}

/* Faster scrolling for mobile screens */
@media (max-width: 768px) {
  .animate-marquee {
    animation-duration: 10s; /* Faster speed for mobile */
  }
}

